*{/*
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
body{
    background: green;
    overflow: hidden;
    height: 100vh;

}
header{
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 40px 60px;
    */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 60px;

}
nav ul li{
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
border-bottom: 3px solid white;

}
/*
.container{
    width: 100%;
    position: absolute;
    top: 50;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    margin-top 50px;
}
.container h1{
    font-size: 150px;
    margin: 0;
    font-weight: 800;
    letter-spacing: 15px;
}
*/
.container a{
    background: orange;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 15px;
}
img {
    align-items:center
    text-align:center;
    marging-top: 90px; 
    marging-left: 100px;
}
(39 sloc)  717 Bytes

.header{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 5 px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
    background-color: rgb(43, 159, 226);
}

.header a{
    float: none;
    display: block;
    text-align: left;
    background-color: blue;
}

.header-right {
    float: none;
}

body {
    background-color: green;
}