*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: green;
    overflow: hidden;
    height: 100vh;

}
header{
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 40px 60px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 60px;

}
nav ul li{
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
border-bottom: 3px solid white;

}

.container{
    width: 100%;
    position: absolute;
    top: 50;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}
.container h1{
    font-size: 150px;
    margin: 0;
    font-weight: 800;
    letter-spacing: 15px;
}
.container a{
    background: orange;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 15px;
}
img {
    text-align:center;
    
}